In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
movies=pd.read_csv('imdb_movies.csv')
movies

,name,Date,score,genre,overview,crew,orig_title,status,lang,budget,revenue,country
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07-11-1995,55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        10178 non-null  object
 1   Date        10178 non-null  object
 2   score       10178 non-null  int64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   lang        10178 non-null  object
 9   budget      10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 954.3+ KB

In [ ]:
movies.isnull().sum(axis=0).sort_values(ascending=False)

genre         85
crew          56
name           0
Date           0
score          0
overview       0
orig_title     0
status         0
lang           0
budget         0
revenue        0
country        0
dtype: int64

In [ ]:
movies.isnull().sum(axis=1).sort_values(ascending=False)

5755     2
5637     2
3906     2
10076    2
6458     2
        ..
3399     0
3400     0
3401     0
3402     0
10177    0
Length: 10178, dtype: int64

Delete unwanted cells

In [ ]:
movies=movies.drop(['crew'],axis=1)

In [ ]:
movies.isnull().sum().sort_values(ascending=False)/len(movies)

genre         0.008351
name          0.000000
Date          0.000000
score         0.000000
overview      0.000000
orig_title    0.000000
status        0.000000
lang          0.000000
budget        0.000000
revenue       0.000000
country       0.000000
dtype: float64

Remove the rows which contain null values

In [ ]:
movies=movies[movies['genre'].notnull()]
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54,Action,When DEA agents are taken captive by a ruthles...,Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07-11-1995,55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [ ]:
movies.isnull().sum().sort_values(ascending=False)/len(movies)

name          0.0
Date          0.0
score         0.0
genre         0.0
overview      0.0
orig_title    0.0
status        0.0
lang          0.0
budget        0.0
revenue       0.0
country       0.0
dtype: float64

In [ ]:
(movies.isnull().sum(axis=1).sort_values(ascending=False)>5).sum()
#no. of rows which have less than 5 values

0

In [ ]:
movies=movies[movies.isnull().sum(axis=1).sort_values(ascending=False)<=5]
movies

<ipython-input-166-9dca43a28efb>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  movies=movies[movies.isnull().sum(axis=1).sort_values(ascending=False)<=5]

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54,Action,When DEA agents are taken captive by a ruthles...,Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07-11-1995,55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

Profit

In [ ]:
#movies with Highest profit
movies['Profit']=movies['revenue']-movies['budget']
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...",Creed III,Released,English,75.000000,271.616668,AU,196.616668
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,Avatar: The Way of Water,Released,English,460.000000,2316.794914,AU,1856.794914
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",The Super Mario Bros. Movie,Released,English,100.000000,724.459031,AU,624.459031
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...",Momias,Released,"Spanish, Castilian",12.300000,34.200000,AU,21.900000
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,Supercell,Released,English,77.000000,340.941959,US,263.941959
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",20th Century Women,Released,English,7.000000,9.353729,US,2.353729
10174,Delta Force 2: The Colombian Connection,08/24/1990,54,Action,When DEA agents are taken captive by a ruthles...,Delta Force 2: The Colombian Connection,Released,English,9.145818,6.698361,US,-2.447457
10175,The Russia House,12/21/1990,61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...",The Russia House,Released,English,21.800000,22.997992,US,1.197992
10176,Darkman II: The Return of Durant,07-11-1995,55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,Darkman II: The Return of Durant,Released,English,116.000000,475.661306,US,359.661306
10177,The Swan Princess: A Royal Wedding,07/20/2020,70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,The Swan Princess: A Royal Wedding,Released,English,92.400000,539.401839,GB,447.001839

In [ ]:
#converting units from $ to million$
movies['budget']=movies['budget']/1000000
movies['revenue']=movies['revenue']/1000000
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...",Creed III,Released,English,75.000000,271.616668,AU
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,Avatar: The Way of Water,Released,English,460.000000,2316.794914,AU
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",The Super Mario Bros. Movie,Released,English,100.000000,724.459031,AU
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...",Momias,Released,"Spanish, Castilian",12.300000,34.200000,AU
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,Supercell,Released,English,77.000000,340.941959,US
...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",20th Century Women,Released,English,7.000000,9.353729,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54,Action,When DEA agents are taken captive by a ruthles...,Delta Force 2: The Colombian Connection,Released,English,9.145818,6.698361,US
10175,The Russia House,12/21/1990,61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...",The Russia House,Released,English,21.800000,22.997992,US
10176,Darkman II: The Return of Durant,07-11-1995,55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,Darkman II: The Return of Durant,Released,English,116.000000,475.661306,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,The Swan Princess: A Royal Wedding,Released,English,92.400000,539.401839,GB

In [ ]:
movies.sort_values(by='Profit',ascending=False)

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit
68,Avatar,12/17/2009,76,"Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di...",Avatar,Released,English,237.0,2923.706026,AU,2686.706026
230,Avengers: Endgame,04/24/2019,83,"Adventure, Science Fiction, Action",After the devastating events of Avengers: Infi...,Avengers: Endgame,Released,English,400.0,2794.731755,AU,2394.731755
309,Titanic,12/18/1997,79,"Drama, Romance",101-year-old Rose DeWitt Bukater tells the sto...,Titanic,Released,English,200.0,2222.985568,AU,2022.985568
6670,Titanic,04-11-1953,66,"Drama, Romance","Unhappily married, Julia Sturges decides to go...",Titanic,Released,English,200.0,2222.985568,US,2022.985568
4483,Louis Tomlinson: All of Those Voices,03/22/2023,91,"Documentary, Music",Ditching the typical glossy sheen of celebrity...,Louis Tomlinson: All of Those Voices,Released,English,178.8,2081.794006,GB,1902.994006
...,...,...,...,...,...,...,...,...,...,...,...,...
411,The Gray Man,07/14/2022,70,"Action, Thriller",When a shadowy CIA agent uncovers damning agen...,The Gray Man,Released,English,200.0,0.451178,AU,-199.548822
414,Guardians of the Galaxy Volume 3,05-04-2023,0,"Science Fiction, Adventure, Comedy","Peter Quill, still reeling from the loss of Ga...",Guardians of the Galaxy Volume 3,Post Production,English,250.0,1.240262,AU,-248.759738
4471,Mission: Impossible - Dead Reckoning Part One,07/14/2023,0,"Action, Adventure, Thriller",The seventh installment of the Mission: Imposs...,Mission: Impossible - Dead Reckoning Part One,Post Production,English,290.0,1.240262,US,-288.759738
1546,Indiana Jones and the Dial of Destiny,06/30/2023,0,"Adventure, Action","Finding himself in a new era, approaching reti...",Indiana Jones and the Dial of Destiny,Post Production,English,294.7,1.240262,US,-293.459738
117,Fast X,05/19/2023,0,"Action, Crime, Thriller",Over many missions and against impossible odds...,Fast X,Post Production,English,340.0,0.000000,US,-340.000000

Top 10 Movies

In [ ]:
#remove duplicate values
movies.drop_duplicates(keep='first',inplace=True)
top10=movies.sort_values(by='Profit',ascending=False).head(10)
top10

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit
68,Avatar,12/17/2009,76,"Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di...",Avatar,Released,English,237.0,2923.706026,AU,2686.706026
230,Avengers: Endgame,04/24/2019,83,"Adventure, Science Fiction, Action",After the devastating events of Avengers: Infi...,Avengers: Endgame,Released,English,400.0,2794.731755,AU,2394.731755
309,Titanic,12/18/1997,79,"Drama, Romance",101-year-old Rose DeWitt Bukater tells the sto...,Titanic,Released,English,200.0,2222.985568,AU,2022.985568
6670,Titanic,04-11-1953,66,"Drama, Romance","Unhappily married, Julia Sturges decides to go...",Titanic,Released,English,200.0,2222.985568,US,2022.985568
4483,Louis Tomlinson: All of Those Voices,03/22/2023,91,"Documentary, Music",Ditching the typical glossy sheen of celebrity...,Louis Tomlinson: All of Those Voices,Released,English,178.8,2081.794006,GB,1902.994006
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,Avatar: The Way of Water,Released,English,460.0,2316.794914,AU,1856.794914
943,Star Wars: The Force Awakens,12/17/2015,73,"Adventure, Action, Science Fiction, Fantasy",Thirty years after defeating the Galactic Empi...,Star Wars: The Force Awakens,Released,English,245.0,2068.223624,AU,1823.223624
104,Avengers: Infinity War,04/25/2018,83,"Adventure, Action, Science Fiction",As the Avengers and their allies have continue...,Avengers: Infinity War,Released,English,300.0,2048.359754,AU,1748.359754
76,Spider-Man: No Way Home,12/16/2021,80,"Action, Adventure, Science Fiction",Peter Parker is unmasked and no longer able to...,Spider-Man: No Way Home,Released,English,200.0,1910.048245,AU,1710.048245
2649,Franco Escamilla: Eavesdropping,10/23/2022,87,Comedy,Franco Escamilla takes the stage in California...,Franco Escamilla: Voyerista auditivo,Released,"Spanish, Castilian",151.0,1714.444954,MX,1563.444954

In [ ]:
movies=movies.sort_values(by='score',ascending=False)
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit
277,Orgasm Lecture 2,02/20/2020,100,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...",오르가즘 특강 2,Released,Korean,201.00,1569.323844,KR,1368.323844
6433,"Furin, hentai, monmon chômon",10/25/2019,100,Drama,"Minoru is dead. However, he was conscious for ...",不倫、変態、悶々弔問,Released,Japanese,201.00,1569.323844,JP,1368.323844
4887,Pretty Young Sister 4,01/15/2021,100,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,예쁜 여동생 4,Released,Korean,201.00,1569.323844,KR,1368.323844
443,El asistente,03-01-2023,100,Comedy,We don't have an overview translated in Englis...,El asistente,Released,"Spanish, Castilian",201.00,1569.323844,AR,1368.323844
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100,"Drama, History",After Jesus completes a sermon that turns the ...,The Chosen: Season 3 - Episodes 1 & 2,Released,English,201.00,1569.323844,US,1368.323844
...,...,...,...,...,...,...,...,...,...,...,...,...
3274,Erotic Ghost Story V,12-01-1997,0,"Drama, Fantasy",We don't have an overview translated in Englis...,聊斋艳谭之婴宁,Released,Cantonese,199.60,175.269999,HK,-24.330001
6193,Delicious Tutor,04-03-2020,0,Romance,Bong-soo receives a love tutor from Hope to es...,맛있는 과외누나,Released,Korean,181.60,175.269999,KR,-6.330001
992,Munthiri Kaadu,04-07-2023,0,"Drama, Action",In a Village Where they used to Honor Kill Lov...,முந்திரிக்காடு,Released,Tamil,189.60,178.359863,IN,-11.240137
7929,Darker Shades of Summer,06-05-2023,0,"Thriller, Romance","At a swingers retreat, a couple will undergo t...",Darker Shades of Summer,In Production,English,241.94,178.359863,GB,-63.580137
4897,Here Comes the Groom,04-08-2023,0,Comedy,"Rodrigo Sr., his wife Salve, their children Ro...",Here Comes the Groom,Released,Tagalog,264.94,175.269999,PH,-89.670001

In [ ]:
imdb_top_250=movies.sort_values(by='score',ascending=False).head(250)
imdb_top_250

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit
277,Orgasm Lecture 2,02/20/2020,100,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...",오르가즘 특강 2,Released,Korean,201.000000,1569.323844,KR,1368.323844
4887,Pretty Young Sister 4,01/15/2021,100,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,예쁜 여동생 4,Released,Korean,201.000000,1569.323844,KR,1368.323844
443,El asistente,03-01-2023,100,Comedy,We don't have an overview translated in Englis...,El asistente,Released,"Spanish, Castilian",201.000000,1569.323844,AR,1368.323844
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100,"Drama, History",After Jesus completes a sermon that turns the ...,The Chosen: Season 3 - Episodes 1 & 2,Released,English,201.000000,1569.323844,US,1368.323844
10046,Simulant,06-02-2023,100,"Science Fiction, Thriller",Faye attempts to replace her newly deceased hu...,Hello Stranger,Released,English,201.000000,1569.323844,US,1368.323844
...,...,...,...,...,...,...,...,...,...,...,...,...
5278,The Hunt,05-02-2013,81,Drama,"A teacher lives a lonely life, all the while s...",Jagten,Released,Danish,18.200000,12.400979,AU,-5.799021
920,Along with the Gods: The Two Worlds,12/14/2017,81,"Action, Adventure, Fantasy, Drama","Having died unexpectedly, firefighter Ja-hong ...",신과함께-죄와 벌,Released,Korean,18.300000,125.983972,AU,107.683972
1163,Prisoners,10/17/2013,81,"Drama, Thriller, Crime",Keller Dover faces a parent's worst nightmare ...,Prisoners,Released,English,46.000000,113.310547,AU,67.310547
4740,Silenced,09/22/2011,81,Drama,Based on actual events that took place at Gwan...,도가니,Released,Korean,2.200000,31.500000,KR,29.300000
6402,"Paris, Texas",02/28/1985,81,Drama,A man wanders out of the desert not knowing wh...,"Paris, Texas",Released,English,1.746964,2.181987,AU,0.435023

Rank acc to IMDB score

In [ ]:
movies['Rank']=movies['score'].rank(method='first',ascending=False)
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit,Rank
277,Orgasm Lecture 2,02/20/2020,100,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...",오르가즘 특강 2,Released,Korean,201.00,1569.323844,KR,1368.323844,1.0
6433,"Furin, hentai, monmon chômon",10/25/2019,100,Drama,"Minoru is dead. However, he was conscious for ...",不倫、変態、悶々弔問,Released,Japanese,201.00,1569.323844,JP,1368.323844,2.0
4887,Pretty Young Sister 4,01/15/2021,100,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,예쁜 여동생 4,Released,Korean,201.00,1569.323844,KR,1368.323844,3.0
443,El asistente,03-01-2023,100,Comedy,We don't have an overview translated in Englis...,El asistente,Released,"Spanish, Castilian",201.00,1569.323844,AR,1368.323844,4.0
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100,"Drama, History",After Jesus completes a sermon that turns the ...,The Chosen: Season 3 - Episodes 1 & 2,Released,English,201.00,1569.323844,US,1368.323844,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,Erotic Ghost Story V,12-01-1997,0,"Drama, Fantasy",We don't have an overview translated in Englis...,聊斋艳谭之婴宁,Released,Cantonese,199.60,175.269999,HK,-24.330001,10089.0
6193,Delicious Tutor,04-03-2020,0,Romance,Bong-soo receives a love tutor from Hope to es...,맛있는 과외누나,Released,Korean,181.60,175.269999,KR,-6.330001,10090.0
992,Munthiri Kaadu,04-07-2023,0,"Drama, Action",In a Village Where they used to Honor Kill Lov...,முந்திரிக்காடு,Released,Tamil,189.60,178.359863,IN,-11.240137,10091.0
7929,Darker Shades of Summer,06-05-2023,0,"Thriller, Romance","At a swingers retreat, a couple will undergo t...",Darker Shades of Summer,In Production,English,241.94,178.359863,GB,-63.580137,10092.0
4897,Here Comes the Groom,04-08-2023,0,Comedy,"Rodrigo Sr., his wife Salve, their children Ro...",Here Comes the Groom,Released,Tagalog,264.94,175.269999,PH,-89.670001,10093.0

In [ ]:
#find popular genre
tempGenre=movies.genre.str.split(',',expand=True).iloc[:,0:2]
tempGenre.columns=['genre1','genre2']
tempGenre

        genre1    genre2
277      Drama      None
6433     Drama      None
4887     Drama   Romance
443     Comedy      None
5404     Drama   History
...        ...       ...
3274     Drama   Fantasy
6193   Romance      None
992      Drama    Action
7929  Thriller   Romance
4897    Comedy      None

[10093 rows x 2 columns]

In [ ]:
tempGenre.genre2.fillna(tempGenre.genre1,inplace=True)
tempGenre

        genre1    genre2
277      Drama     Drama
6433     Drama     Drama
4887     Drama   Romance
443     Comedy    Comedy
5404     Drama   History
...        ...       ...
3274     Drama   Fantasy
6193   Romance   Romance
992      Drama    Action
7929  Thriller   Romance
4897    Comedy    Comedy

[10093 rows x 2 columns]

In [ ]:
movies=pd.concat([movies,tempGenre],axis=1)
movies

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit,Rank,genre1,genre2
277,Orgasm Lecture 2,02/20/2020,100,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...",오르가즘 특강 2,Released,Korean,201.00,1569.323844,KR,1368.323844,1.0,Drama,Drama
6433,"Furin, hentai, monmon chômon",10/25/2019,100,Drama,"Minoru is dead. However, he was conscious for ...",不倫、変態、悶々弔問,Released,Japanese,201.00,1569.323844,JP,1368.323844,2.0,Drama,Drama
4887,Pretty Young Sister 4,01/15/2021,100,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,예쁜 여동생 4,Released,Korean,201.00,1569.323844,KR,1368.323844,3.0,Drama,Romance
443,El asistente,03-01-2023,100,Comedy,We don't have an overview translated in Englis...,El asistente,Released,"Spanish, Castilian",201.00,1569.323844,AR,1368.323844,4.0,Comedy,Comedy
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100,"Drama, History",After Jesus completes a sermon that turns the ...,The Chosen: Season 3 - Episodes 1 & 2,Released,English,201.00,1569.323844,US,1368.323844,5.0,Drama,History
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,Erotic Ghost Story V,12-01-1997,0,"Drama, Fantasy",We don't have an overview translated in Englis...,聊斋艳谭之婴宁,Released,Cantonese,199.60,175.269999,HK,-24.330001,10089.0,Drama,Fantasy
6193,Delicious Tutor,04-03-2020,0,Romance,Bong-soo receives a love tutor from Hope to es...,맛있는 과외누나,Released,Korean,181.60,175.269999,KR,-6.330001,10090.0,Romance,Romance
992,Munthiri Kaadu,04-07-2023,0,"Drama, Action",In a Village Where they used to Honor Kill Lov...,முந்திரிக்காடு,Released,Tamil,189.60,178.359863,IN,-11.240137,10091.0,Drama,Action
7929,Darker Shades of Summer,06-05-2023,0,"Thriller, Romance","At a swingers retreat, a couple will undergo t...",Darker Shades of Summer,In Production,English,241.94,178.359863,GB,-63.580137,10092.0,Thriller,Romance
4897,Here Comes the Groom,04-08-2023,0,Comedy,"Rodrigo Sr., his wife Salve, their children Ro...",Here Comes the Groom,Released,Tagalog,264.94,175.269999,PH,-89.670001,10093.0,Comedy,Comedy

TOP 10 genre

In [ ]:
#top 10 Genre
movies.groupby(['genre1','genre2']).revenue.mean().sort_values(ascending=False).head(10)

genre1       genre2
TV Movie      Animation      949.857282
Action        TV Movie       947.468746
Documentary   Family         937.727044
Animation     TV Movie       890.976240
TV Movie      Crime          829.924589
Music         Family         761.546913
              Documentary    726.733512
TV Movie      Thriller       655.148472
Documentary   Action         630.422675
Romance       Family         617.896248
Name: revenue, dtype: float64

In [ ]:
US=movies[movies['country']=='US']
IN=movies[movies['country']=='IN']
AU=movies[movies['country']=='AU']
KR=movies[movies['country']=='KR']

Top movies in India

In [ ]:
IN

,name,Date,score,genre,overview,orig_title,status,lang,budget,revenue,country,Profit,Rank,genre1,genre2
3410,My Name Is Khan,02-10-2010,81,"Drama, Romance","Rizwan Khan, a Muslim from the Borivali sectio...",My Name Is Khan,Released,Hindi,12.000000,42.345360,IN,30.345360,248.0,Drama,Romance
7589,Dangal,12/23/2016,80,"Drama, Family, Comedy, Action",Dangal is an extraordinary true story based on...,दंगल,Released,Hindi,9.500000,305.149461,IN,295.649461,324.0,Drama,Family
9344,Bholaa,03/30/2023,80,"Action, Adventure, Crime","An ex-convict must undertake a perilous, viole...",भोला,Released,Hindi,75.000000,361.163020,IN,286.163020,393.0,Action,Adventure
6768,Kabhi Khushi Kabhie Gham,12/14/2001,78,"Comedy, Drama",Years after his father disowns his adopted bro...,कभी ख़ुशी कभी ग़म,Released,Hindi,120.000000,252.034622,IN,132.034622,628.0,Comedy,Drama
2414,Bāhubali: The Beginning,07-10-2015,76,"Action, Drama",The young Shivudu is left as a foundling in a ...,బాహుబలి:ద బిగినింగ్,Released,Telugu,25.130430,90.747520,IN,65.617090,958.0,Action,Drama
3751,Andhadhun,10-05-2018,76,"Crime, Thriller, Comedy",A series of mysterious events changes the life...,अंधाधुन,Released,Hindi,4.500000,40.000000,IN,35.500000,990.0,Crime,Thriller
9016,Kuch Kuch Hota Hai,10/16/1998,76,"Romance, Drama","Per her mother's last wish, an 8 year old girl...",कुछ कुछ होता है,Released,Hindi,0.153000,15.306000,IN,15.153000,1074.0,Romance,Drama
10162,K.G.F: Chapter 2,04/14/2022,76,"Action, Crime, Drama",The blood-soaked land of Kolar Gold Fields (KG...,ಕೆ.ಜಿ.ಎಫ್: Chapter 2,Released,Kannada,13.000000,90.410749,IN,77.410749,1154.0,Action,Crime
8096,K.G.F: Chapter 1,12/21/2018,75,"Action, Crime, Drama","A period drama set in the 1970s, KGF follows t...",ಕೆಜಿಎಫ್ ಅಧ್ಯಾಯ ೧,Released,Kannada,113.600000,637.739380,IN,524.139380,1165.0,Action,Crime
2968,Pushpa: The Rise - Part 1,12/17/2021,74,"Action, Drama, Thriller",Pushpa Raj is a coolie who rises in the world ...,పుష్పా - The Rise,Released,Telugu,167.200000,712.822511,IN,545.622511,1460.0,Action,Drama
3528,Bāhubali 2: The Conclusion,04/28/2017,74,"Action, Adventure, Fantasy","When Mahendra, the son of Bāhubali, learns abo...",బాహుబలి 2: ది కన్ క్లూజన్,Released,Telugu,31.000000,275.947313,IN,244.947313,1756.0,Action,Adventure
1800,Chor Nikal Ke Bhaga,03/24/2023,72,"Crime, Thriller",A flight attendant and her boyfriend must stea...,चोर निकल के भागा,Released,Hindi,68.200000,533.415609,IN,465.215609,2382.0,Crime,Thriller
5072,Minnal Murali,12/16/2021,72,"Action, Comedy, Fantasy",A tailor gains special powers after being stru...,മിന്നൽ മുരളി,Released,Malayalam,2.800000,123.093767,IN,120.293767,2383.0,Action,Comedy
8282,Kites,05/21/2010,72,"Drama, Action, Romance",A wounded man searches for his sweetheart in t...,Kites,Released,Hindi,9.200000,17.155193,IN,7.955193,2429.0,Drama,Action
4613,Dhamaka,11/19/2021,71,"Thriller, Drama, Crime",When a cynical ex-TV news anchor gets an alarm...,धमाका,Released,Hindi,118.200000,462.863838,IN,344.663838,2717.0,Thriller,Drama
7384,Om Shanti Om,11-09-2007,70,"Comedy, Thriller, Drama",Reincarnated 30 years after being killed in a ...,ओम शांति ओम,Released,Hindi,9.100000,37.707444,IN,28.607444,3181.0,Comedy,Thriller
9326,Ghajini,12/25/2008,70,"Action, Romance, Thriller",A man suffering from anterograde amnesia as a ...,गजनी,Released,Hindi,9.100000,76.000000,IN,66.900000,3223.0,Action,Romance
9391,Junglee,03/29/2019,67,"Action, Adventure",A vet returns home to his father's elephant re...,जंगली,Released,Hindi,140.800000,483.308405,IN,342.508405,4304.0,Action,Adventure
7248,Karan Arjun,01/13/1995,67,"Action, Thriller",Karan and Arjun reincarnate in the different p...,कारन अर्जुन,Released,Hindi,1.850000,16.540000,IN,14.690000,4407.0,Action,Thriller
1644,Pathaan,01/25/2023,67,"Action, Adventure, Thriller",A soldier caught by enemies and presumed dead ...,पठान,Released,Hindi,63.000000,112.000000,IN,49.000000,4577.0,Action,Adventure
9942,Bang Bang!,10-02-2014,62,"Action, Adventure, Comedy, Romance",A young bank receptionist gets mixed up with R...,बैंग बैंग,Released,Hindi,89.400000,590.072389,IN,500.672389,6304.0,Action,Adventure
1604,Looop Lapeta,02-04-2022,62,"Action, Comedy, Crime","When her boyfriend loses a mobster's cash, Sav...",लूप लपेटा,Released,Hindi,69.000000,133.297857,IN,64.297857,6503.0,Action,Comedy
6131,Blood Money,03/31/2012,61,"Drama, Action, Thriller","In South Africa, a young man living with his w...",Blood Money,Released,Hindi,218.000000,523.582647,IN,305.582647,6747.0,Drama,Action
7986,Commando 2 - The Black Money Trail,03-02-2017,60,"Action, Thriller","India's most wanted Black Money agent, Vicky C...",कमांडो 2,Released,Hindi,157.000000,450.337882,IN,293.337882,7147.0,Action,Thriller
3621,Ravanasura,04-07-2023,60,"Action, Thriller, Comedy",An investigating officer is assigned to invest...,రావణాసుర,Released,Telugu,95.200000,361.666202,IN,266.466202,7226.0,Action,Thriller
6141,Faraaz,02-03-2023,48,"Action, Thriller",A terrifying hostage crisis unfolds over one f...,Faraaz,Released,Hindi,157.200000,950.627749,IN,793.427749,9443.0,Action,Thriller
4368,Phalguna Chaitra,04-07-2023,0,"Family, Romance, Drama",Kabya is an architect who gets an assignment t...,ଫାଲ୍‌ଗୁନ ଚୈତ୍ର,Released,Oriya,0.103845,1.240262,IN,1.136417,9961.0,Family,Romance
3944,Enthada Saji,04-08-2023,0,"Comedy, Fantasy, Drama",We don't have an overview translated in Englis...,എന്താടാ സജി,Released,Malayalam,185.000000,175.269999,IN,-9.730001,9965.0,Comedy,Fantasy
2938,"August 16, 1947",04-07-2023,0,Comedy,We don't have an overview translated in Englis...,"August 16, 1947",Released,Tamil,264.940000,175.269999,IN,-89.670001,9985.0,Comedy,Comedy
5636,Racer,04-07-2023,0,"Action, Drama",Ashwin who has aspired to become a professiona...,ரேசர்,Released,Tamil,183.540000,178.359863,IN,-5.180137,10013.0,Action,Drama
2512,Gumraah,04-07-2023,0,"Action, Crime, Thriller",A murder investigation becomes complicated aft...,गुमराह,Released,Hindi,213.940000,175.269999,IN,-38.670001,10016.0,Action,Crime
9641,B 32 Muthal 44 Vare,04-06-2023,0,Drama,The film follows six women from different walk...,ബി 32 മുതൽ 44 വരെ,Released,Malayalam,174.600000,175.269999,IN,0.669999,10021.0,Drama,Drama
4763,Mayaa,04-07-2023,0,Crime,Raajhorshee De's Macbeth.,মায়া,Released,Bengali,193.940000,178.359863,IN,-15.580137,10039.0,Crime,Crime
4614,Ahimsa,04-07-2023,0,"Romance, Action, Drama",We don't have an overview translated in Englis...,టీజ‌ర్‌,Released,Telugu,223.940000,175.269999,IN,-48.670001,10059.0,Romance,Action
2955,Ki Main Jhoot Boleya,03/24/2023,0,"Romance, Comedy","Manvir, a down-on-luck NRI, has to find a job ...",Ki Main Jhoot Boleya,Released,English,213.940000,178.359863,IN,-35.580137,10063.0,Romance,Comedy
992,Munthiri Kaadu,04-07-2023,0,"Drama, Action",In a Village Where they used to Honor Kill Lov...,முந்திரிக்காடு,Released,Tamil,189.600000,178.359863,IN,-11.240137,10091.0,Drama,Action